body {
	background-image: url("abt.jpg");
	width: 1300px;
	height: 1000px;
	background-size: 1300 1000;
	background-repeat: no-repeat;
}



img {
	float: right;
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

p {
	font-family:cursive;
	font-size: 10px;
	color: grey;
	margin-left: 5px;
}


#bold {
	font-size: 50px;
	color:white;
}


#leftalign {
	float:left;
}

#rightalign {
	float:right;
}


#skills {
	font-weight: bold;
	font-size: 40px;
	color: white;
	margin-top: 0;
}

#next {
	color:white;
	font size:40px; 
}

.boxed {
	border: 1px solid dimgray ;
	width:200px;
	
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

.active {
    background-color: red;
}





